<!-- ==================== NAV MENU ==================== -->
<header id="header" class="fixed-top header-transparent shadow-sm bg-white rounded">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="/"><span>Vacay Diary</span></a></h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <!-- <li><a href="#about">About Us</a></li> -->
                <li><a href="/my-itineraries">My Itineraries</a></li>
                <li><a href="/new">Create Itinerary</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </nav>

    </div>
</header><!-- End Nav MENU -->