<select id="destination" name="destination" class="form-control editDestination" value="<%= itinerary.destination %>">
    <option class="editOption" value="Afganistan">Afghanistan</option>
    <option class="editOption" value="Albania">Albania</option>
    <option class="editOption" value="Algeria">Algeria</option>
    <option class="editOption" value="American Samoa">American Samoa</option>
    <option class="editOption" value="Andorra">Andorra</option>
    <option class="editOption" value="Angola">Angola</option>
    <option class="editOption" value="Anguilla">Anguilla</option>
    <option class="editOption" value="Antigua & Barbuda">Antigua & Barbuda</option>
    <option class="editOption" value="Argentina">Argentina</option>
    <option class="editOption" value="Armenia">Armenia</option>
    <option class="editOption" value="Aruba">Aruba</option>
    <option class="editOption" value="Australia">Australia</option>
    <option class="editOption" value="Austria">Austria</option>
    <option class="editOption" value="Azerbaijan">Azerbaijan</option>
    <option class="editOption" value="Bahamas">Bahamas</option>
    <option class="editOption" value="Bahrain">Bahrain</option>
    <option class="editOption" value="Bangladesh">Bangladesh</option>
    <option class="editOption" value="Barbados">Barbados</option>
    <option class="editOption" value="Belarus">Belarus</option>
    <option class="editOption" value="Belgium">Belgium</option>
    <option class="editOption" value="Belize">Belize</option>
    <option class="editOption" value="Benin">Benin</option>
    <option class="editOption" value="Bermuda">Bermuda</option>
    <option class="editOption" value="Bhutan">Bhutan</option>
    <option class="editOption" value="Bolivia">Bolivia</option>
    <option class="editOption" value="Bonaire">Bonaire</option>
    <option class="editOption" value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
    <option class="editOption" value="Botswana">Botswana</option>
    <option class="editOption" value="Brazil">Brazil</option>
    <option class="editOption" value="British Indian Ocean Ter">British Indian Ocean Ter</option>
    <option class="editOption" value="Brunei">Brunei</option>
    <option class="editOption" value="Bulgaria">Bulgaria</option>
    <option class="editOption" value="Burkina Faso">Burkina Faso</option>
    <option class="editOption" value="Burundi">Burundi</option>
    <option class="editOption" value="Cambodia">Cambodia</option>
    <option class="editOption" value="Cameroon">Cameroon</option>
    <option class="editOption" value="Canada">Canada</option>
    <option class="editOption" value="Canary Islands">Canary Islands</option>
    <option class="editOption" value="Cape Verde">Cape Verde</option>
    <option class="editOption" value="Cayman Islands">Cayman Islands</option>
    <option class="editOption" value="Central African Republic">Central African Republic</option>
    <option class="editOption" value="Chad">Chad</option>
    <option class="editOption" value="Channel Islands">Channel Islands</option>
    <option class="editOption" value="Chile">Chile</option>
    <option class="editOption" value="China">China</option>
    <option class="editOption" value="Christmas Island">Christmas Island</option>
    <option class="editOption" value="Cocos Island">Cocos Island</option>
    <option class="editOption" value="Colombia">Colombia</option>
    <option class="editOption" value="Comoros">Comoros</option>
    <option class="editOption" value="Congo">Congo</option>
    <option class="editOption" value="Cook Islands">Cook Islands</option>
    <option class="editOption" value="Costa Rica">Costa Rica</option>
    <option class="editOption" value="Cote DIvoire">Cote DIvoire</option>
    <option class="editOption" value="Croatia">Croatia</option>
    <option class="editOption" value="Cuba">Cuba</option>
    <option class="editOption" value="Curaco">Curacao</option>
    <option class="editOption" value="Cyprus">Cyprus</option>
    <option class="editOption" value="Czech Republic">Czech Republic</option>
    <option class="editOption" value="Denmark">Denmark</option>
    <option class="editOption" value="Djibouti">Djibouti</option>
    <option class="editOption" value="Dominica">Dominica</option>
    <option class="editOption" value="Dominican Republic">Dominican Republic</option>
    <option class="editOption" value="East Timor">East Timor</option>
    <option class="editOption" value="Ecuador">Ecuador</option>
    <option class="editOption" value="Egypt">Egypt</option>
    <option class="editOption" value="El Salvador">El Salvador</option>
    <option class="editOption" value="Equatorial Guinea">Equatorial Guinea</option>
    <option class="editOption" value="Eritrea">Eritrea</option>
    <option class="editOption" value="Estonia">Estonia</option>
    <option class="editOption" value="Ethiopia">Ethiopia</option>
    <option class="editOption" value="Falkland Islands">Falkland Islands</option>
    <option class="editOption" value="Faroe Islands">Faroe Islands</option>
    <option class="editOption" value="Fiji">Fiji</option>
    <option class="editOption" value="Finland">Finland</option>
    <option class="editOption" value="France">France</option>
    <option class="editOption" value="French Guiana">French Guiana</option>
    <option class="editOption" value="French Polynesia">French Polynesia</option>
    <option class="editOption" value="French Southern Ter">French Southern Ter</option>
    <option class="editOption" value="Gabon">Gabon</option>
    <option class="editOption" value="Gambia">Gambia</option>
    <option class="editOption" value="Georgia">Georgia</option>
    <option class="editOption" value="Germany">Germany</option>
    <option class="editOption" value="Ghana">Ghana</option>
    <option class="editOption" value="Gibraltar">Gibraltar</option>
    <option class="editOption" value="Great Britain">Great Britain</option>
    <option class="editOption" value="Greece">Greece</option>
    <option class="editOption" value="Greenland">Greenland</option>
    <option class="editOption" value="Grenada">Grenada</option>
    <option class="editOption" value="Guadeloupe">Guadeloupe</option>
    <option class="editOption" value="Guam">Guam</option>
    <option class="editOption" value="Guatemala">Guatemala</option>
    <option class="editOption" value="Guinea">Guinea</option>
    <option class="editOption" value="Guyana">Guyana</option>
    <option class="editOption" value="Haiti">Haiti</option>
    <option class="editOption" value="Hawaii">Hawaii</option>
    <option class="editOption" value="Honduras">Honduras</option>
    <option class="editOption" value="Hong Kong">Hong Kong</option>
    <option class="editOption" value="Hungary">Hungary</option>
    <option class="editOption" value="Iceland">Iceland</option>
    <option class="editOption" value="Indonesia">Indonesia</option>
    <option class="editOption" value="India">India</option>
    <option class="editOption" value="Iran">Iran</option>
    <option class="editOption" value="Iraq">Iraq</option>
    <option class="editOption" value="Ireland">Ireland</option>
    <option class="editOption" value="Isle of Man">Isle of Man</option>
    <option class="editOption" value="Israel">Israel</option>
    <option class="editOption" value="Italy">Italy</option>
    <option class="editOption" value="Jamaica">Jamaica</option>
    <option class="editOption" value="Japan">Japan</option>
    <option class="editOption" value="Jordan">Jordan</option>
    <option class="editOption" value="Kazakhstan">Kazakhstan</option>
    <option class="editOption" value="Kenya">Kenya</option>
    <option class="editOption" value="Kiribati">Kiribati</option>
    <option class="editOption" value="Korea North">Korea North</option>
    <option class="editOption" value="Korea Sout">Korea South</option>
    <option class="editOption" value="Kuwait">Kuwait</option>
    <option class="editOption" value="Kyrgyzstan">Kyrgyzstan</option>
    <option class="editOption" value="Laos">Laos</option>
    <option class="editOption" value="Latvia">Latvia</option>
    <option class="editOption" value="Lebanon">Lebanon</option>
    <option class="editOption" value="Lesotho">Lesotho</option>
    <option class="editOption" value="Liberia">Liberia</option>
    <option class="editOption" value="Libya">Libya</option>
    <option class="editOption" value="Liechtenstein">Liechtenstein</option>
    <option class="editOption" value="Lithuania">Lithuania</option>
    <option class="editOption" value="Luxembourg">Luxembourg</option>
    <option class="editOption" value="Macau">Macau</option>
    <option class="editOption" value="Macedonia">Macedonia</option>
    <option class="editOption" value="Madagascar">Madagascar</option>
    <option class="editOption" value="Malaysia">Malaysia</option>
    <option class="editOption" value="Malawi">Malawi</option>
    <option class="editOption" value="Maldives">Maldives</option>
    <option class="editOption" value="Mali">Mali</option>
    <option class="editOption" value="Malta">Malta</option>
    <option class="editOption" value="Marshall Islands">Marshall Islands</option>
    <option class="editOption" value="Martinique">Martinique</option>
    <option class="editOption" value="Mauritania">Mauritania</option>
    <option class="editOption" value="Mauritius">Mauritius</option>
    <option class="editOption" value="Mayotte">Mayotte</option>
    <option class="editOption" value="Mexico">Mexico</option>
    <option class="editOption" value="Midway Islands">Midway Islands</option>
    <option class="editOption" value="Moldova">Moldova</option>
    <option class="editOption" value="Monaco">Monaco</option>
    <option class="editOption" value="Mongolia">Mongolia</option>
    <option class="editOption" value="Montserrat">Montserrat</option>
    <option class="editOption" value="Morocco">Morocco</option>
    <option class="editOption" value="Mozambique">Mozambique</option>
    <option class="editOption" value="Myanmar">Myanmar</option>
    <option class="editOption" value="Nambia">Nambia</option>
    <option class="editOption" value="Nauru">Nauru</option>
    <option class="editOption" value="Nepal">Nepal</option>
    <option class="editOption" value="Netherland Antilles">Netherland Antilles</option>
    <option class="editOption" value="Netherlands">Netherlands (Holland, Europe)</option>
    <option class="editOption" value="Nevis">Nevis</option>
    <option class="editOption" value="New Caledonia">New Caledonia</option>
    <option class="editOption" value="New Zealand">New Zealand</option>
    <option class="editOption" value="Nicaragua">Nicaragua</option>
    <option class="editOption" value="Niger">Niger</option>
    <option class="editOption" value="Nigeria">Nigeria</option>
    <option class="editOption" value="Niue">Niue</option>
    <option class="editOption" value="Norfolk Island">Norfolk Island</option>
    <option class="editOption" value="Norway">Norway</option>
    <option class="editOption" value="Oman">Oman</option>
    <option class="editOption" value="Pakistan">Pakistan</option>
    <option class="editOption" value="Palau Island">Palau Island</option>
    <option class="editOption" value="Palestine">Palestine</option>
    <option class="editOption" value="Panama">Panama</option>
    <option class="editOption" value="Papua New Guinea">Papua New Guinea</option>
    <option class="editOption" value="Paraguay">Paraguay</option>
    <option class="editOption" value="Peru">Peru</option>
    <option class="editOption" value="Phillipines">Philippines</option>
    <option class="editOption" value="Pitcairn Island">Pitcairn Island</option>
    <option class="editOption" value="Poland">Poland</option>
    <option class="editOption" value="Portugal">Portugal</option>
    <option class="editOption" value="Puerto Rico">Puerto Rico</option>
    <option class="editOption" value="Qatar">Qatar</option>
    <option class="editOption" value="Republic of Montenegro">Republic of Montenegro</option>
    <option class="editOption" value="Republic of Serbia">Republic of Serbia</option>
    <option class="editOption" value="Reunion">Reunion</option>
    <option class="editOption" value="Romania">Romania</option>
    <option class="editOption" value="Russia">Russia</option>
    <option class="editOption" value="Rwanda">Rwanda</option>
    <option class="editOption" value="St Barthelemy">St Barthelemy</option>
    <option class="editOption" value="St Eustatius">St Eustatius</option>
    <option class="editOption" value="St Helena">St Helena</option>
    <option class="editOption" value="St Kitts-Nevis">St Kitts-Nevis</option>
    <option class="editOption" value="St Lucia">St Lucia</option>
    <option class="editOption" value="St Maarten">St Maarten</option>
    <option class="editOption" value="St Pierre & Miquelon">St Pierre & Miquelon</option>
    <option class="editOption" value="St Vincent & Grenadines">St Vincent & Grenadines</option>
    <option class="editOption" value="Saipan">Saipan</option>
    <option class="editOption" value="Samoa">Samoa</option>
    <option class="editOption" value="Samoa American">Samoa American</option>
    <option class="editOption" value="San Marino">San Marino</option>
    <option class="editOption" value="Sao Tome & Principe">Sao Tome & Principe</option>
    <option class="editOption" value="Saudi Arabia">Saudi Arabia</option>
    <option class="editOption" value="Senegal">Senegal</option>
    <option class="editOption" value="Seychelles">Seychelles</option>
    <option class="editOption" value="Sierra Leone">Sierra Leone</option>
    <option class="editOption" value="Singapore">Singapore</option>
    <option class="editOption" value="Slovakia">Slovakia</option>
    <option class="editOption" value="Slovenia">Slovenia</option>
    <option class="editOption" value="Solomon Islands">Solomon Islands</option>
    <option class="editOption" value="Somalia">Somalia</option>
    <option class="editOption" value="South Africa">South Africa</option>
    <option class="editOption" value="Spain">Spain</option>
    <option class="editOption" value="Sri Lanka">Sri Lanka</option>
    <option class="editOption" value="Sudan">Sudan</option>
    <option class="editOption" value="Suriname">Suriname</option>
    <option class="editOption" value="Swaziland">Swaziland</option>
    <option class="editOption" value="Sweden">Sweden</option>
    <option class="editOption" value="Switzerland">Switzerland</option>
    <option class="editOption" value="Syria">Syria</option>
    <option class="editOption" value="Tahiti">Tahiti</option>
    <option class="editOption" value="Taiwan">Taiwan</option>
    <option class="editOption" value="Tajikistan">Tajikistan</option>
    <option class="editOption" value="Tanzania">Tanzania</option>
    <option class="editOption" value="Thailand">Thailand</option>
    <option class="editOption" value="Togo">Togo</option>
    <option class="editOption" value="Tokelau">Tokelau</option>
    <option class="editOption" value="Tonga">Tonga</option>
    <option class="editOption" value="Trinidad & Tobago">Trinidad & Tobago</option>
    <option class="editOption" value="Tunisia">Tunisia</option>
    <option class="editOption" value="Turkey">Turkey</option>
    <option class="editOption" value="Turkmenistan">Turkmenistan</option>
    <option class="editOption" value="Turks & Caicos Is">Turks & Caicos Is</option>
    <option class="editOption" value="Tuvalu">Tuvalu</option>
    <option class="editOption" value="Uganda">Uganda</option>
    <option class="editOption" value="United Kingdom">United Kingdom</option>
    <option class="editOption" value="Ukraine">Ukraine</option>
    <option class="editOption" value="United Arab Erimates">United Arab Emirates</option>
    <option class="editOption" value="United States of America">United States of America</option>
    <option class="editOption" value="Uraguay">Uruguay</option>
    <option class="editOption" value="Uzbekistan">Uzbekistan</option>
    <option class="editOption" value="Vanuatu">Vanuatu</option>
    <option class="editOption" value="Vatican City State">Vatican City State</option>
    <option class="editOption" value="Venezuela">Venezuela</option>
    <option class="editOption" value="Vietnam">Vietnam</option>
    <option class="editOption" value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
    <option class="editOption" value="Virgin Islands (USA)">Virgin Islands (USA)</option>
    <option class="editOption" value="Wake Island">Wake Island</option>
    <option class="editOption" value="Wallis & Futana Is">Wallis & Futana Is</option>
    <option class="editOption" value="Yemen">Yemen</option>
    <option class="editOption" value="Zaire">Zaire</option>
    <option class="editOption" value="Zambia">Zambia</option>
    <option class="editOption" value="Zimbabwe">Zimbabwe</option>
 </select>